<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresa Sesión</title>
        <link rel="stylesheet" href="/login.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="wrapper">
            <form action="#">
                <h2>Log In</h2>
                <div class="input-field">
                    <input type="text" required>
                    <label>Ingresa el Email</label>
                </div>
                <div class="input-field">
                    <input type="password" required>
                    <label>Ingresa la contraseña</label>
                </div>
                <div class="Olvida">
                    <label for="remember">
                        <input type="checkbox" id="Recordar">
                        <p>Recuerdame</p>
                    </label>
                    <a href="#">Olvidaste tu contraseña?</a>
                </div>
                <button type="submit">
                    Log In
                    <i class="bi bi-caret-right-fill" aria-hidden="true"></i>
                </button>
                <div class="register">
                    <p>¿No tienes una cuenta? <a href="#">Registrarse</a></p>
                </div>
            </form>
        </div>
    </body>
</html>
